
.sections{
  display: flex;
  border-bottom: 1px solid $gray;
}

.sections-nav{
  margin: 0 auto;
  padding: 5px;
}

.sections-nav ul{
  display: flex;
  align-items: center;
}

.sections-nav li a:hover{
  background-color: $light-gray;
  cursor: pointer;
}

.sections-nav a{
  margin-left: 10px;
  margin-right: 10px;
}

.sections-nav li:last-of-type{
  font-family: $sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}

.sections-nav li:last-of-type a:hover{
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
